body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/lavender.png);
    font-family: "Calluna", serif;
}

.brand-title {
 position: fixed;
 top: 50px;
 width: 100%;
 text-align: center;
 font-size: 50px;
 font-weight: bold;
 color: #4a3c69;
 letter-spacing: 2px;
 text-shadow: 0px 4px 10px rgba(0,0,0,0.2);
 opacity: 0.9;
}


.login-box {
    width: 450px;
    height: 400px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(10px);
    color: #4a3c69;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.login-box h2 {
    margin-bottom: 20px;
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 25px;
    outline: none;
    box-sizing: border-box;
}

.options {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 10px 0 20px;
}

.options a {
    color: #fff;
    text-decoration: none;
}

.options a:hover {
text-decoration: underline;
}

.login-box button {
    width: 75%;
    padding: 12px 0px 12px 12px;
    margin-top: 32px;
    border: none;
    border-radius: 25px;
    background: white;
    color: #6a11cb;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: block;
}

.login-btn {
    padding: 8px 20px;
}
.button-container {
    display: flex;
    justify-content: center;
}

.login-box button:hover {
    background: #eee;
}

.register {
    margin-top: 15px;
    font-size: 14px;
}

.register a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.login-header {
   font-size: 50px; 
   font-weight: bold;
   margin-bottom: 100px ;
   border-bottom: 1px solid #4A3C69;


}
