@font-face {
  font-family: "Calluna";
  src: url("calluna.woff2") format("woff2"),
       url("calluna.woff") format("woff");
}

body {
  font-family: "Calluna";
  margin: 0;
  height: 100vh;
  position: relative;
  background: url(../images/CloudBackground.png)
}

.top-bar {
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 20px 25px -5px rgba(183, 148, 246, 0.2);
  color: white;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}


.name {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
}

.btn-employee {
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin-left: auto;
  margin-right: 20px ;
  background-color : #43cacc;
  width: auto;
  color: rgb(255, 255, 255);
  border: none;
  padding: 8px 25px;
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
  font-size: bold;
  transition: background-color 1s ,
  color 1s;
  
}

.btn-employee:hover {
  background-color: white;
  color: #2ec4c7;
}

.btn-employee:active{
  opacity: 0.8;
}
table {
  width: 100%;
  border-spacing: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  

}
.table-section {
  width: 95%;       
  margin: 60px auto; 
}

.table-section::-webkit-scrollbar {
  width: 8px;
}

.table-section::-webkit-scrollbar-thumb {
  background: linear-gradient(#caa7d8, #a97fc3);
  border-radius: 10px;
}


.rounded-table {
  width: 100%;      
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  font-family: 'Segoe UI', sans-serif;
  font-size: 17px;  
}


.rounded-table thead {
  background: linear-gradient(135deg, #7b3f8c, #9c5bb3);
  color: white;
}

.rounded-table thead th {
  position: sticky;
  top: 0;
  z-index: 20;
  background: linear-gradient(135deg, #7b3f8c, #9c5bb3);
  color: white;
}

.rounded-table thead th {
  position: sticky;
  top: 0;
  z-index: 20;
  background: linear-gradient(135deg, #7b3f8c, #9c5bb3);
  color: white;
}
.rounded-table td {
  padding: 20px; 
  text-align: center;
  font-size: 16px;
  color: #333;
}


.rounded-table tbody tr:nth-child(even) {
  background-color: #faf7fc;
}

.rounded-table thead tr th:first-child {
  border-top-left-radius: 8px;
}

.rounded-table thead tr th:last-child {
  border-top-right-radius: 8px;
}

td {
  border: 1px solid #d6a0d3;
  padding: 10px;
  background-color: white;
}

th {
  border: 1px solid #d6a0d3;
  padding: 10px;
}

.custom-cs-button {
  position: fixed;
  bottom: 20px;
  right: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  color: white;
  border: 2px solid #004466;
  border-radius: 50px; 
  width: 160px;
  padding: 8px 8px; 
  font-family: 'Arial', sans-serif;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.icon-circle {
  background-color: black;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}

.icon-circle img {
  width: 30px;
  height: 30px;
  filter: invert(1); 
}

.button-text {
  font-size: 18px;
  font-weight: bold;
  width: auto;
  line-height: 1.1;
  text-align: left;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0);
}


.custom-cs-button:hover {

  filter: brightness(1.1);
  transform: translateY(-2px);
  transition: 0.2s;
  opacity: 0.8;

}


.logo-container {
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 16px;
  background-size: 36px;
  
}

.logo-icon{
background: #7c3aed;
width: 64px;
height: 64px;
border-radius: 16px;
}


.logo-text h1 {
  font-size: 30px;
  font-weight: 600;
  background: linear-gradient(to right, #7c3aed, #a78bfa, #c084fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.logo-text p {
  font-size: 20px;
  color: #7c3aed;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 4px;
}


.btn-employee {
  background: #5fd0d6;
  border: none;
  padding: 15px 30px;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 100;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-employee:hover {
  background: papayawhip;
  color: #5fd0d6;
}

.overlay {  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(74, 60, 105, 0.35);  
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

#modal-toggle:checked ~ .overlay {
  visibility: visible;
  opacity: 1;
}

.containerModalShadow {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  backdrop-filter: blur(8px);
  display: flex;
  place-items: center;
  z-index: 200;
}

.modalContent {
  animation: bounceSoft 0.8s ease forwards;
}

@keyframes bounceSoft {
  0%   {transform:translateY(-20px) scale(0.95);opacity:0;}
  60%  {transform:translateY(5px) scale(1.02);opacity:1;}
  100% {transform:translateY(0) scale(1);}
}


.container {
  position: relative;
  max-width: 600px;
  width: 450px;
  background-color: rgba(255, 255, 255, 0.85);
  background-image: url("../images/image1.jpg");
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: left;
  padding: 20px;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(172,172,172,0.5);
  position:absolute;
  top: 10%;
  left: 35%;
   animation: bounceSoft 0.8s ease;
}

@keyframes bounceSoft {
  0% { transform: translateY(-20px) scale(0.95); opacity: 0; }
}

.offContainer{
  display: none;
}

.offShadow{
  display: none;
}

.brand-header {
  text-align: center;
  margin-bottom: 10px;
}

.brand-header .brand-logo {
  width: 100%;
  height: auto;
  max-width: 300px;
  display: block;
  margin: 0 auto;
  color:#4c3e6b;
  font-family: "Comic Sans Ms", cursive;
}

.container__header {
  text-align: center;
}

.container__header h2 {
  color: #4c3e6b;
  text-shadow: 2px 2px 4px rgba(133, 64, 156, 0.952);
  border-bottom: 1px solid #4A3C69;
}

.header {
  text-align: center;
  background-color: #432f5c; 
  color: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  color: #563c8f;
}

input, textarea, select {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #fffffeeb;
  background-color: #F3EEFF;
  font-family: "Calluna", serif;
  box-sizing: border-box;
}

textarea {
  height: 120px;
  resize: none;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #7A5C9C;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 13px;
  cursor: pointer;
  font-family: "Calluna", serif;
  box-sizing: border-box;
}

button:hover {
  opacity: 0.9;
}

.open-btn {
  margin: 40px auto;
  display: block;
  width: 220px;
  cursor: pointer;
}

.entermodawmessage::placeholder {
  font-size: 15px;
}

.entermodawemailmo::placeholder {
  font-size: 15px;
}
 
.typemodawnamemo::placeholder {
  font-size: 15px;
}
.select-concern {
  background-color: #F3EEFF;
  font-family: "Calluna", serif;
  border-style: none;
  border-radius: 5px;
  width: 100%;
  height: 35px;
  color: rgb(107, 106, 106);
  padding-left: 5px;
}
.default-select {
  color: rgba(255, 255, 255, 0);
}
.closeBtn {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background: none;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    color: rgb(0, 0, 0);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: center;
    transition: transform 0.5s ease-in-out; 
}

.closeBtn:hover {
    transform:rotate(160deg)
}

@media (max-width: 600px) {
  .container {
    width: 90%;
    padding: 20px;
  }
  
  .open-btn {
    width: 200px;
  }
}
