@font-face {
  font-family: "Calluna";
  src: url("calluna.woff2") format("woff2"),
       url("calluna.woff") format("woff");
}

body {
  font-family: "Calluna", serif;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#brand-logo {
  position: absolute;
  top: 10px;
  left: 50%;
  color: #302646;
  font-size: 30px;
  font-weight: bold;
  z-index: 10;
}

.overlay {  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(74, 60, 105, 0.35);  
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

#modal-toggle:checked ~ .overlay {
  visibility: visible;
  opacity: 1;
}

#containerModal{
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  backdrop-filter: blur(8px);
  justify-content: center;
  align-items: center;
  z-index: 200;
}
.container {
  position: relative;
  max-width: 600px;
  width: 450px;
  background-color: rgba(255, 255, 255, 0.85);
  background-image: url("../images/image1.jpg");
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: left;
  padding: 20px;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(172,172,172,0.5);
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


.brand-header {
  text-align: center;
  margin-bottom: 10px;
}

.brand-header .brand-logo {
  width: 100%;
  height: auto;
  max-width: 300px;
  display: block;
  margin: 0 auto;
  color:#4c3e6b;
  font-family: "Comic Sans Ms", cursive;
}

.container__header {
  text-align: center;
}

.container__header h2 {
  color: #4c3e6b;
  text-shadow: 2px 2px 4px rgba(133, 64, 156, 0.952);
  border-bottom: 1px solid #4A3C69;

}

.header {
  text-align: center;
  background-color: #432f5c; 
  color: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  color: #563c8f;
}

input, textarea, select {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #fffffeeb;
  background-color: #F3EEFF;
  font-family: "Calluna", serif;
  box-sizing: border-box;
}

textarea {
  height: 120px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #7A5C9C;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 13px;
  cursor: pointer;
  font-family: "Calluna", serif;
  box-sizing: border-box;
}

button:hover {
  opacity: 0.9;
}

.open-btn {
  margin: 40px auto;
  display: block;
  width: 220px;
  cursor: pointer;
}

.entermodawmessage::placeholder {
  font-size: 15px;
}

.entermodawemailmo::placeholder {
  font-size: 15px;
}
 
.typemodawnamemo::placeholder {
  font-size: 15px;
}
.select-concern {
  background-color: #F3EEFF;
  font-family: "Calluna", serif;
  border-style: none;
  border-radius: 5px;
  width: 100%;
  height: 35px;
  color: rgb(107, 106, 106);
  padding-left: 5px;
}
.default-select {
  color: rgba(255, 255, 255, 0);
}
.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background: none;
  color: rgb(19, 19, 19);
  border: none;
  border-radius: 50%;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-close:hover{
  background-color: rgba(172, 171, 171, 0.611);
}
@media (max-width: 600px) {
  .container {
    width: 90%;
    padding: 20px;
  }
  
  .open-btn {
    width: 200px;
  }
}