body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Calluna", serif;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transform: scaleX(-1);
}

.logo {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px; 
    height: auto;
    margin-bottom: 20px;
   animation: fadeIn 1.5s ease;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 0.8; }
}

 .login-box {
  width: 350px;
  padding: 30px;
  background: rgba(255,255,255,0.35);
  backdrop-filter: blur(12px);
  color: #4a3c69;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0 15px 40px rgba(0,0,0,0.4);
  opacity: 0;
  transform: translateY(-20px) scale(0.95);
  animation: smoothEpic 0.9s ease forwards;
}

@keyframes smoothEpic {
  0%   {opacity:0; transform:translateY(-20px) scale(0.95);}
  50%  {opacity:1; transform:translateY(5px) scale(1.02);}
  100% {opacity:1; transform:translateY(0) scale(1);}
}


.login-box h2 {
    margin-bottom: 20px;
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 25px;
    box-sizing: border-box;
    opacity: 1;
}


.options {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 10px 0 20px;
}

.options a {
    color: #fff;
    text-decoration: none;
}

.options a:hover {
text-decoration: underline;
}

.login-box button {
    width: 75%;
    padding: 12px 0px 12px 12px;
    margin-top: 32px;
    border: none;
    border-radius: 25px;
    background: white;
    color: #6a11cb;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: block;
}

 .login-btn {
    padding: 8px 20px;
}
.button-container {
    display: flex;
    justify-content: center;
}

.login-box button:hover {
    background: #eee;
}

.register {
    margin-top: 15px;
    font-size: 14px;
}

.register a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.close-btn {
    position: fixed;
    top: 30px;
    right: 45px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background: none;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    color: rgb(0, 0, 0);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: center;
    transition: transform 0.5s ease-in-out; 
}

.close-btn:hover {
    transform:rotate(160deg)
}


